* {
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar-nav {
    position: absolute;
    right: 5%;
  
}
ul {
    background-color: #F8F9FA;
}
.nav-link {
   font-family: monospace;
   text-transform: capitalize;
   color:#225C74;
   font-weight: bold;
}
.navbar-brand {
    margin-left: 5%;
}
/* admin pannel */
.panel{
    border-color:#eee;
    margin:40px;
    padding:20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    }
 .form-control {
      padding: 3%;
  }
 
.title1{
    font: 16px "Century Gothic", "Times Roman", sans-serif;
    }
    .title2{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    }
    .panel td {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .panel .btn {
        width:90px;
        color:#202020;
    
        font-size:15px;
        height:35px;
        margin:20px;
        padding:10px;
        width:100px;
    }
    .height{
        height: 100px;
    }
    .btn-addQES {
        background-color:#225C74;
        border:0;
        outline:0;
        padding-left: 20px;
        padding-right: 20px;
    }

 